################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Unlimitedinf.Tools.Tests.Binary/nuget.exe
*.nupkg
